.dropdown-item {
  padding: 4px 6px;
  color: var(--color-primary);
  background-color: var(--color-w);
  text-transform: capitalize;
  word-wrap: break-word;

  &--active,
  &:hover {
    background-color: #c3c1e5;
    cursor: pointer;
  }
}
